*{
  box-sizing: border-box;
  background: rgb(251, 250, 247);
  margin: 0;
  padding: 0;
}
.App {
  text-align: left;
}

.logo{
  font-size: 30px;
  color:rgb(255, 255, 255);
  padding: 10px 15px;
  background-image: linear-gradient(to right, #4ed6ff 24%, rgb(249, 214, 36)  51%, #FF4E50  100%); 
  position: absolute;
  width: 100vw;
}
