*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background:rgb(211, 240, 239);
}
.App {
  text-align: left;
  
}

.logo{
  padding: 10px 15px;
  background-image: linear-gradient(to right, #4ed6ff 24%, rgb(249, 214, 36)  51%, #FF4E50  100%); 
  width: 100vw;
  height: 10vh;
  font-weight: bolder;
}
