  .search-btn {
  font-size: 18px;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #4ed6ff 24%, rgb(249, 214, 36)  51%, #FF4E50  100%); 
  position: absolute;
  left:81%;
  margin: 6% ;
} 
.input-field,placeholder  {
  margin: 6%;
  position: relative;
  height: 43px;
  width:80%;
  border-radius: 3px;
  font-size: 18px;
  padding: 18px;
}
.img-gallery {
 position: relative;
 left: 10px;

}
img {
width: 15rem;
height: 10rem;
margin: 20px;
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.178);

}


