  /* .search-btn {
  font-size: 18px;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #4ed6ff 24%, rgb(249, 214, 36)  51%, #FF4E50  100%); 
  position: absolute;
  left:81%;
  margin: 6% ;
} 
.input-field,placeholder  {
  position: relative;
  height: 43px;
  width:80%;
  border-radius: 3px;
  font-size: 18px;
  padding: 18px;
  background-color: rgb(238, 224, 224);
} */




